future
emoji
requests
telethon
sqlalchemy
python-telegram-bot==13.1
psycopg2-binary
pythonping
feedparser
pytz
bs4
lxml
demjson
wget
telegraph
pillow
psutil
google_trans_new
bleach
git+https://github.com/starry69/python-markdown2.git
alphabet_detector